  <div class="field">
    <%= f.label 'Your first name' %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label 'Your last name' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
