<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>
  Hi <%= ENV['ASA_ADMIN_NAME'] %>,
</p>

<p>
  We just received a cancellation request for the following enrollment:
</p>
<table>
  <tr>
    <td>Enrollment Id:</td>
    <td><%= @enrollment.id %></td>
  </tr>
  <tr>
    <td>Activity Name:</td>
    <td><%= @activity.name %></td>
  </tr>
  <tr>
    <td>Grade Range:</td>
    <td><%= grade_range(@activity) %></td>
  </tr>
  <tr>
    <td>Student Name:</td>
    <td><%= @enrollment.student.full_name %></td>
  </tr>
  <tr>
    <td>Parent Name:</td>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <td>Parent Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<p>
  Go to the <%= link_to 'activity page', @activity %> to delete the enrollment. Remember
  to send a mail to the parent with any info regarding reimbursement.
</p>

<p>
  -Your friendly neighborhood ASA webapp
</p>
</body>
</html>
