<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

Dear <%= @user.first_name %>,

<p>
  You have successfully enrolled <strong><%= @enrollment.student.first_name %></strong>
  in the <strong><%= @activity.name %></strong> class, pending payment.
</p>

<p>
  This activity will take place
  from <%= @activity.start.strftime("%m/%d/%Y") %> to
  <%= @activity.end.strftime("%m/%d/%Y") %>,
  <%= lcfirst(@activity.times) %>. It requires a minimum of <%= @activity.min_seats %>
  students and a waiting list begins after <%= @activity.max_seats %> students are
  enrolled.
</p>

<p>
  Please print this mail and return it to the Fairwood school office with
  <%= money(@activity.cost) %>
  <% if @activity.cash_only %>
    cash.
  <% else %>
    cash or check payable to
    <strong><%= @activity.instructor %></strong>.
  <% end %>
</p>

<p>
  <strong>
    IMPORTANT NOTE: Please provide payment within two days to guarantee your enrollment
    spot. Due to large demand, we must fill activities with paid enrollments as early
    as possible.
  </strong>
</p>

<p>
  Thank you, and we hope <%= @enrollment.student.first_name %> enjoys the class.
</p>

<p>
  - The Fairwood Explorer Afterschool Activities Team
</p>
<hr>
<p>
  For ASA Team Use:
<table>
  <tr>
    <td>Enrollment Id:</td>
    <td><%= @enrollment.id %></td>
  </tr>
  <tr>
    <td>Activity Name:</td>
    <td><%= @activity.name %></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><%= money(@activity.cost) %></td>
  </tr>
  <tr>
    <td>Student Name:</td>
    <td><%= @enrollment.student.full_name %></td>
  </tr>
  <tr>
    <td>Parent Name:</td>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <td>Parent Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>
</p>
</body>
</html>
