<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

Dear <%= @user.first_name %>,

<% if @waiting %>
  <p>
    Thank you for your request to be added to the waiting list for the
    <strong><%= @enrollment.activity.name %></strong> class for
    <%= @enrollment.student.first_name %>. You will be notified whether or not your
    enrollment has been approved within one week, based on the number of earlier
    enrollments that submit payment.
  </p>
<% else %>
  <p>
    You have successfully enrolled <strong><%= @enrollment.student.first_name %></strong>
    in the <strong><%= @activity.name %></strong> class, pending payment.
  </p>
<% end %>

<p>
  This activity will take place
  from <%= friendly_date(@activity.start) %> to
  <%= friendly_date(@activity.end) %>,
  <%= lcfirst(@activity.times) %>. It requires a minimum of <%= @activity.min_seats %>
  students and a waiting list begins after <%= @activity.max_seats %> students are
  enrolled.
</p>

<p>
  Please print this mail and return it to the Fairwood school office with
  <%= money(@activity.cost) %>
  <% if @activity.cash_only %>
    cash.
  <% else %>
    cash or check payable to
    <strong><%= @activity.instructor %></strong>.
  <% end %>
</p>

<p>
  <strong>
    <% if @waiting %>
      IMPORTANT NOTE: Please provide payment within two days to hold your spot on the
      waiting list. You will receive a full refund if your enrollment is ultimately
      denied.
    <% else %>
      IMPORTANT NOTE: Please provide payment within two days to guarantee your enrollment
      spot. Due to large demand, we must fill activities with paid enrollments as early
      as possible.
    <% end %>
  </strong>
</p>

<p>
  Thank you, and we hope <%= @enrollment.student.first_name %> enjoys the class.
</p>

<p>
  - The Fairwood Explorer Afterschool Activities Team
</p>
<hr>
<p>
  For ASA Team Use:
<table>
  <% if @waiting %>
    <tr>
      <td><strong>Waiting list:</strong></td>
      <td><strong>Yes</strong></td>
    </tr>
  <% end %>
  <tr>
    <td>Enrollment Id:</td>
    <td><%= @enrollment.id %></td>
  </tr>
  <tr>
    <td>Activity Name:</td>
    <td><%= @activity.name %></td>
  </tr>
  <tr>
    <td>Grade Range:</td>
    <td><%= grade_range(@activity) %></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><%= money(@activity.cost) %></td>
  </tr>
  <tr>
    <td>Student Name:</td>
    <td><%= @enrollment.student.full_name %></td>
  </tr>
  <tr>
    <td>Parent Name:</td>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <td>Parent Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>
</p>
</body>
</html>
