<h1>My Registrations</h1>

<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Activity</th>
    <th>Student</th>
    <th>Low income slot</th>
    <% if current_parent.admin? %>
      <th>Committed</th>
    <% end %>
    <th>Paid</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @registrations.each do |registration| %>
    <tr>
      <td><%= registration.activity.name %></td>
      <td><%= registration.student.first_name %></td>
      <td><%= friendly_boolean(registration.low_income) %></td>
      <% if current_parent.admin? %>
        <td><%= friendly_boolean(registration.committed) %></td>
      <% end %>
      <td><%= friendly_boolean(registration.paid) %></td>
      <td><%= link_to 'Edit', edit_registration_path(registration) %>&nbsp;
      <%= link_to 'Cancel', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
