<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>Activity</th>
    <th>Student</th>
    <% if current_parent.admin? %>
      <th>Parent</th>
    <% end %>
    <th>Low income slot</th>
    <% if current_parent.admin? %>
      <th>Committed</th>
    <% end %>
    <th>Paid</th>
    <th>On Waiting List?</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.activity.name %></td>
      <td><%= enrollment.student.first_name %></td>
      <% if current_parent.admin? %>
        <td><%= enrollment.student.parent.full_name %></td>
      <% end %>
      <td><%= friendly_boolean(enrollment.low_income) %></td>
      <% if current_parent.admin? %>
        <td><%= friendly_boolean(enrollment.committed) %></td>
      <% end %>
      <td><%= friendly_boolean(enrollment.paid) %></td>
      <td><%= friendly_boolean(is_waiting(enrollment)) %></td>
      <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %>&nbsp;
        <%= link_to 'Cancel', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
