<tr>
  <% student = enrollment.student %>
  <% parent = student.parent %>
  <td><%= enrollment.activity.name %></td>
  <td><%= enrollment.student.full_name %></td>
  <% if current_parent.admin? %>
    <td><%= student.friendly_grade %></td>
    <td><%= student.teacher %></td>
    <td><%= parent.full_name %></td>
    <td><%= parent.email %></td>
    <td><%= parent.phone_number %></td>
<% end %>
  <td><%= friendly_boolean(enrollment.low_income) %></td>
  <% if current_parent.admin? %>
    <td><%= friendly_boolean(enrollment.committed) %></td>
  <% end %>
  <td><%= enrollment.payment_type %></td>
  <td><%= friendly_boolean(is_waiting(enrollment)) %></td>
  <% if current_parent.admin? %>
    <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %>&nbsp;
      <%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
