<tr>
  <% student = enrollment.student %>
  <% parent = student.parent %>
  <td><%= enrollment.activity.name %></td>
  <td><%= enrollment.student.full_name %></td>
  <% if current_parent.admin? %>
    <td><%= student.friendly_grade %></td>
    <td><%= student.teacher.full_name %></td>
    <td><%= student.teacher.room %></td>
    <td><%= parent.full_name %></td>
    <td><%= parent.email %></td>
    <td><%= parent.phone_number %></td>
  <% end %>
  <td><%= friendly_boolean(enrollment.low_income) %></td>
  <% if current_parent.admin? %>
    <td><%= friendly_boolean(enrollment.committed) %></td>
  <% end %>
  <td><%= enrollment.payment_type %></td>
  <td><%= friendly_boolean(is_waiting(enrollment)) %></td>
  <td>
    <% if current_parent.admin? %>
      <%= link_to 'Edit', edit_enrollment_path(enrollment) %>&nbsp;
      <%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure you want to delete this enrollment?' } %>
    <% else %>
      <%= link_to 'Cancel', enrollment_do_cancel_path(enrollment), method: :post, data: { confirm: 'Are you sure you want to cancel this enrollment?' } %>
    <% end %>
  </td>
</tr>
