<%= bootstrap_form_for(@enrollment, layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-6') do |f| %>
  <%= f.hidden_field :activity_id %>
  <%= f.static_control 'Activity' do %>
    <%= @enrollment.activity.name %>
  <% end %>
  <%= f.collection_select(:student_id, @eligible_students, :id, :first_name) %>
  <%= f.form_group do %>
    <%= f.check_box :low_income,
                    label: 'I am interested in a low-income slot for this activity.' %>
    <div id="committed_container" class="col-sm-offset-1" style="display: none">
      <%= f.check_box :committed,
                      label: 'If I do not get a low-income slot, I am still interested in registering for this activity.' %>
    </div>
    <% if current_parent.admin? %>
      <%= f.select :payment_type, [['None', 'none'], ['Check', 'check'], ['Cash', 'cash'], ['To Vendor', 'to_vendor']] %>
    <% end %>
  <% end %>
  <%= f.submit((@waiting ? 'Add to waiting list': 'Enroll!'), { class: "btn-primary col-sm-offset-5" }) %>
<% end %>

<script type="text/javascript">
  $(function() {
    var low_income = $('#enrollment_low_income');
    low_income.change(function() {
      if ($(this).is(':checked')) {
        $('#committed_container').show();
      } else {
        $('#committed_container').hide();
      }
    });

    // For page load (edit)
    if (low_income.is(':checked')) {
      $('#committed_container').show();
    } else {
      $('#committed_container').hide();
    }
  })
</script>
