<h3>Enrollment succeeded!</h3>

<p>
  You have successfully enrolled <strong><%= @enrollment.student.first_name %></strong>
  in the <strong><%= @enrollment.activity.name %></strong> activity, pending payment.
</p>
<p>
  This activity will take place from <%= friendly_date(@enrollment.activity.start) %> to
  <%= friendly_date(@enrollment.activity.end) %>,
  <%= lcfirst(@enrollment.activity.times) %>.
</p>
<p>
  You will receive a confirmation email in a few minutes. Please check your junk mail
  folder in case it gets filtered.
</p>
<p>
  If you have any questions about activities, please
  contact <%= mail_to(ENV['ASA_EMAIL'], ENV['ASA_ADMIN_NAME']) %>
  of the Afterschool Activities Team.<br>
  Contact the <%= mail_to('fairwood-techsupport@googlegroups.com', 'IT') %> team for
  technical issues with the site.
</p>
<%= link_to 'Home', root_path %>
