<% provide(:panel_title, 'Listing Parents') %>

<table class="table table-condensed table-bordered">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>School</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @parents.each do |parent| %>
    <tr>
      <td><%= parent.first_name %></td>
      <td><%= parent.last_name %></td>
      <td><%= parent.email %></td>
      <td><%= parent.phone_number %></td>
      <td><%= parent.school %></td>
      <td><%= parent.role %></td>
      <td>
        <%= link_to 'Show', parent %>&nbsp;
        <%= link_to 'Edit', edit_parent_path(parent) %>&nbsp;
        <%= link_to 'Delete', parent, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent', new_parent_path %>
