<% provide(:panel_title, "Parent: #{@parent.first_name} #{@parent.last_name}") %>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @parent.phone_number %>
</p>

<p>
  <strong>School:</strong>
  <%= @parent.school %>
</p>

<p>
  <strong>Role:</strong>
  <%= @parent.role %>
</p>

<p>
  <strong>Students:</strong>
  <%= render partial: 'students/students_table', locals: {students: @parent.students.by_name} %>
</p>
<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
