<div class="activity" data-category="<%= activity.category %>">
  <span style="font-size: 18px; color: blue"><%= activity.name %></span>
  with <em><%= activity.instructor %></em> for
  <strong><%= money(activity.cost) %></strong>
  <br>
  Grades: <%= grade_range(activity) %>
  &nbsp;&nbsp;
  <% if current_parent.lakewood? && activity.lakewood_eligibility_date > Time.now %>
    <span class="label-warning">Lakewood parents may register starting
      <%= friendly_date(activity.lakewood_eligibility_date) %></span>
  <% elsif unenrolled_student_count(activity) == 0 %>
    <span class="label-info">
      None of your unenrolled students meet the grade level
      requirements.
    </span>
  <% else %>
    <% remaining_seats = activity.remaining_seats %>
    <% if remaining_seats < 4 && remaining_seats > 0 %>
      <span class="label-warning">Only <%= remaining_seats %> spots left!</span>
    <% end %>
    <% if remaining_seats < 0 %>
      <span class="label-warning">There's a waiting list of <%= -remaining_seats %>
        students.</span>
    <% end %>
    <% if remaining_seats <= 0 %>
      <%= link_to 'Join the waiting list!', new_enrollment_path(activity_id: activity.id, waiting: 1) %>
    <% else %>
      <%= link_to "Enroll Now!", new_enrollment_path(activity_id: activity.id), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <% if current_parent.admin? %>
    &nbsp;&nbsp;
    <% unless activity.visible %>
      <span class="glyphicon glyphicon-eye-close" style="color:orangered;" title="Not visible in activity list" data-toggle="tooltip"></span>
    <% end %>

    <%= link_to(activity) do %>
      <span class="glyphicon glyphicon-expand"/>
    <% end %>
    <%= link_to(edit_activity_path(activity)) do %>
      <span class="glyphicon glyphicon-pencil"/>
    <% end %>
    <%= link_to(activity, method: :delete, data: { confirm: 'Are you sure?' }) do %>
      <span class="glyphicon glyphicon-trash"/>
    <% end %>
  <% end %>
  <br>
  <%= friendly_date(activity.start) %> - <%= friendly_date(activity.end) %>,
  <%= lcfirst(activity.times) %>
  <div id="show-desc-<%= activity.id %>-div" style="display: none">

    <a href="#" id="show-desc-<%= activity.id %>" onclick="showDescription(<%= activity.id %>);">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;Show
      description</a>
  </div>
  <div style="margin-top: 10px;" id="desc-<%= activity.id %>">
    <%= activity.html_description.html_safe %>
  </div>
  <hr>
</div>
