<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructor</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Times</th>
      <th>Seats</th>
      <th>Visible</th>
      <th>Lakewood eligibility date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.instructor %></td>
        <td><%= activity.description %></td>
        <td><%= activity.start %></td>
        <td><%= activity.end %></td>
        <td><%= activity.times %></td>
        <td><%= activity.seats %></td>
        <td><%= activity.visible %></td>
        <td><%= activity.lakewood_eligibility_date %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
