<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @activity.instructor %>
</p>

<p>
  <strong>Cost:</strong>
  <%= money(@activity.cost) %>
</p>

<p>
  <strong>Cash Only:</strong>
  <%= friendly_boolean(@activity.cash_only) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Grade Range:</strong>
  <%= grade_range(@activity) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description_as_html %>
</p>

<p>
  <strong>Start:</strong>
  <%= @activity.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @activity.end %>
</p>

<p>
  <strong>Times:</strong>
  <%= @activity.times %>
</p>

<p>
  <strong>Min Seats:</strong>
  <%= @activity.min_seats %>
</p>

<p>
  <strong>Max Seats:</strong>
  <%= @activity.max_seats %>
</p>

<p>
  <strong>Lakewood eligibility date:</strong>
  <%= @activity.lakewood_eligibility_date %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @activity.visible %>
</p>

<p>
  <strong>Enrollments:</strong>
  <%= render partial: 'enrollments/enrollments_table', locals: {enrollments: @activity.enrollments} %>
</p>
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
