<% provide(:panel_title, "Activity: #{@activity.name}") %>

<p>
  <strong>Instructor:</strong>
  <%= @activity.instructor %>
</p>

<p>
  <strong>Vendor Email:</strong>
  <%= @activity.vendor_email %>
</p>

<p>
  <strong>Vendor Phone:</strong>
  <%= @activity.vendor_phone %>
</p>

<p>
  <strong>Cost:</strong>
  <%= money(@activity.cost) %>
</p>

<p>
  <strong>Cash Only:</strong>
  <%= friendly_boolean(@activity.cash_only) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Grade Range:</strong>
  <%= grade_range(@activity) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.html_description.html_safe %>
</p>

<p>
  <strong>Start:</strong>
  <%= @activity.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @activity.end %>
</p>

<p>
  <strong>Times:</strong>
  <%= @activity.times %>
</p>

<p>
  <strong>Min Seats:</strong>
  <%= @activity.min_seats %>
</p>

<p>
  <strong>Max Seats:</strong>
  <%= @activity.max_seats %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @activity.visible %>
</p>

<p>
  <strong>Enrollments:</strong>
  <% num_enrolled = [@activity.enrollments.count, @activity.max_seats].min %>
  <% num_low_uncommitted = @activity.enrollments.low_uncommitted.count %>
  <% num_waiting = @activity.remaining_seats < 0 ? -@activity.remaining_seats : 0 %>
  <%= num_enrolled %> enrolled, <%= num_low_uncommitted %> low-income pending approval, <%= num_waiting %> waiting
  <%= render partial: 'enrollments/enrollments_table', locals: {enrollments: @activity.enrollments.fifo} %>
</p>
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
